* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: monserrat;
  background-color: #6d9f32;
  width: 100%;
}

/* navbar */
nav {
  background: white;
  height: 80px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
}

label.logo img {
  margin-top: 10px;
  margin-left: 10px;
  width: 230px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  background-color: #7d4829;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  background: none;
  color: #7d4829;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1024px) {
  label.logo img {
    margin-top: 10px;
    width: 230px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 952px) {
  .checkbtn {
    display: block;
  }

  ul {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1a2035;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    border-radius: 5px;
  }
  a:hover {
    background: none;
    color: white;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 550px) {
  label.logo img {
    margin-left: 10px;
    margin-top: 10px;
    width: 190px;
  }
}

/* end navbar */
/* home */
.home {
  background-color: white;
  height: 720px;
  width: 85%;
  box-sizing: border-box;
  border-top-right-radius: 450px;
  border-bottom-right-radius: 450px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoImage img {
  width: 400px;
  float: left;
}

.description {
  float: left;
  width: 500px;
  font-size: 20px;
}

@media (max-width: 1300px) {
  .logoImage img {
    width: 350px;
  }

  .description {
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    overflow: scroll;
  }
}

@media (max-width: 910px) {
  .logoImage img {
    width: 280px;
  }

  .description {
    width: 280px;
    height: 250px;
    box-sizing: border-box;
    overflow: scroll;
  }
}

@media (max-width: 780px) {
  .home {
    width: 100%;
    border-radius: 0;
  }

  .logoImage img {
    width: 300px;
  }

  .description {
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    overflow: scroll;
  }
}

@media (max-width: 650px) {
  .logoImage img {
    width: 230px;
  }

  .description {
    width: 230px;
    height: 230px;
    box-sizing: border-box;
    overflow: scroll;
  }
}

@media (max-width: 500px) {
  .home {
    flex-direction: column;
    height: 100vh;
    margin-top: 20px;
    justify-content: center;
  }

  .logoImage img {
    width: 280px;
    margin-top: 1vh;
  }

  .description {
    width: 350px;
    height: 180px;
    margin-top: 5vh;
    box-sizing: border-box;
    overflow: scroll;
  }
}

@media (max-width: 370px) {
  .logoImage img {
    width: 230px;
  }

  .description {
    width: 230px;
    height: 180px;
    box-sizing: border-box;
    overflow: scroll;
  }
}
/* end home */

/* about us */
.aboutUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.aboutUs .title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
  margin-top: 8%;
}

.aboutUs .about {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 5%;
}

.aboutUs .about p {
  width: 80%;
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
}

@media (max-width: 780px) {
  .aboutUs .about p {
    font-size: 25px;
  }

  .aboutUs .title {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .aboutUs .about p {
    font-size: 20px;
  }

  .aboutUs .title {
    font-size: 30px;
  }
}

@media (max-width: 490px) {
  .aboutUs .about p {
    font-size: 15px;
  }

  .aboutUs .title {
    font-size: 25px;
  }
  .aboutUs .about {
    overflow: scroll;
    margin-bottom: 30px;
  }
}
/* end about us */

/* our services */
.wrapServices {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerServices {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 320px;
  background-color: white;
  height: 90vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.titleServices {
  font-size: 40px;
  /* border: 1px solid blue; */
  text-align: center;
  color: #6d9f32;
}

.contentWrap {
  /* border: 1px solid red; */
  width: 250px;
  display: flex;
  flex-direction: column;
}

.imageContent {
  width: max-content;
  background-color: #6d9f32;
  position: relative;
  left: 28%;
  border-radius: 100%;
  padding: 18px;
  z-index: 1;
}

.titleContent {
  text-align: center;
  font-size: 20px;
  margin-top: 5%;
}

.descriptionContent {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  line-height: 20px;
}

.containerContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  height: 60vh;
}

@media (max-width: 1020px) {
  .containerServices {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .containerServices {
    width: 100%;
    border-radius: unset;
  }
  .imageContent img {
    width: 46px;
    height: 48px;
  }
  .contentWrap {
    width: 200px;
  }
  .containerContent {
    box-sizing: content-box;
  }

  .containerServices {
    box-sizing: content-box;
  }
}
@media (max-width: 600px) {
  .containerContent {
    height: inherit;
    margin-top: 30px;
  }

  .contentWrap {
    height: 250px;
    overflow: scroll;
    margin-bottom: 50px;
  }

  .titleServices {
    margin-top: 40px;
    font-size: 25px;
  }

  .containerServices {
    height: inherit;
  }

  .titleContent {
    font-size: 15px;
  }
  .descriptionContent {
    font-size: 15px;
  }
}
/* end our services */

/* gallery */

.galleryContainer {
  /* border: red solid 1px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.galleryTitle {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 50px;
}

.imageWrap {
  /* border: blue solid 1px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.imageWrap img {
  width: 20%;
  border-radius: 40px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid #7d4829;
}

@media (max-width: 800px) {
  .imageWrap {
    padding: 0;
  }

  .imageWrap img {
    width: 30%;
  }
  .galleryTitle {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .imageWrap img {
    border-radius: 20px;
  }
}

/* end gallery */

/* SERVICE AREA */
.serviceArea {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

.serviceArea .titleServiceArea {
  font-size: 40px;
  color: #6d9f32;
  text-align: center;
  margin-top: 80px;
}

.wrapContentArea {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contentArea {
  /* border: 1px solid greenyellow; */
  width: max-content;
  box-sizing: border-box;
  margin-top: 20px;
}

.contentArea img {
  width: 80%;
  margin-left: 10%;
}

.contentArea p {
  text-align: center;
  font-size: 30px;
}

@media (max-width: 600px) {
  .serviceArea .titleServiceArea {
    font-size: 25px;
  }
}
/* END SERVICE AREA */

/* FOOTER */
.footer {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  /* border: red solid 1px; */
  justify-content: space-between;
}

.kiri {
  width: 50%;
  /* border: 1px red dashed; */
  font-size: 24px;
  line-height: 24px;
  color: white;
}

.kiri p {
  margin-bottom: 20px;
}
.kanan {
  width: 45%;
  /* border: 1px blue dashed; */
  font-size: 24px;
  color: white;
  padding-left: 5%;
}

.kanan img {
  margin-top: 5%;
}

.copyright {
  clear: both;
  display: inline-block;
  /* border: 1px solid orange; */
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .kanan img {
    width: 90%;
  }
  .kanan {
    font-size: 19px;
  }
  .kiri {
    font-size: 19px;
  }
}
@media (max-width: 900px) {
  .kanan {
    font-size: 16px;
  }
  .kiri {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .footer {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
  }
  .kanan {
    padding: unset;
    margin-left: 5%;
    font-size: 14px;
    width: 90%;
  }

  .kanan img {
    width: 70%;
    margin-left: 10%;
  }
  .kiri {
    margin-left: 5%;
    font-size: 14px;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .copyright {
    font-size: 10px;
    margin-top: 20px;
  }
}
/* END FOOTER */

/* floating wa */
.floatingWa {
  position: fixed;
  bottom: 4px;
  right: 12px;
}

@media (max-width: 700px) {
  .floatingWa img {
    width: 70px;
    height: 70px;
  }
}
/* endfloating wa */
